label{
  display: flex;
  font-family: 'Anek Latin', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
}
.btn-plus{
  top: 5%;
}
/* You can add global styles to this file, and also import other style files */
.formulario{
  margin-top: 4vh;
}
