<form>
  <div class="grid">
    <div class="col-4">
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Sim" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Não" value="1"></p-radioButton>
      </div>
    </div>
    <div class="col-6">
      <label>Tempo de jejum</label>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="2 Horas" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="3 Horas" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="4 horas" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="6 Horas" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="8 Horas" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Estômago cheio" value="1"></p-radioButton>
      </div>
    </div>
  </div>
  <button pButton (click)="avancar()"></button>
</form>
