<form>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Sem descrepância maxila / Mandíbula" value="1"></p-radioButton>
  </div>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Com descrepância maxila / Mandíbula" value="1"></p-radioButton>
  </div>
  <label>Dentes</label>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Dentes implantados" value="1"></p-radioButton>
  </div>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Dentes permanentes" value="1"></p-radioButton>
  </div>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Dentição decídua" value="1"></p-radioButton>
  </div>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Protése móvel" value="1"></p-radioButton>
  </div>
  <button pButton (click)="avancar()"></button>
</form>
