<form>
  <div class="grid">
    <div class="col-3">
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Sim" value="1"></p-radioButton>
        <p-radioButton name="eEtilista" label="Não" value="1"></p-radioButton>
      </div>
    </div>
    <div class="col-5">
      <label>Histórico famliar de problemas com anestésia ?</label>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Sim" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Não" value="1"></p-radioButton>
      </div>
      <label>Teve história de nausea/ vômito / diarréia pós operatório</label>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Sim" value="1"></p-radioButton>
      </div>
      <div class="field-checkbox">
        <p-radioButton name="eEtilista" label="Não" value="1"></p-radioButton>
      </div>
    </div>
  </div>
  <button pButton (click)="avancar()">Avançar</button>
</form>

