<form [formGroup]="formGroup">
  <div class="grid">
    <div class="col-3">
      <div class="field-checkbox">
        <p-checkbox name="eAve" [binary]="true" value="eAve" formControlName="eAve">
        </p-checkbox>
        <label>AVE</label>
      </div>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eCefaleia" [binary]="true" value="eCefaleia" formControlName="eCefaleia">
      </p-checkbox>
      <label>Cefaléia</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eConvulsoes" [binary]="true" value="eConvulsoes" formControlName="eConvulsoes">
      </p-checkbox>
      <label>Convulsões</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eDemencias" [binary]="true" value="eDemencias" formControlName="eDemencias">
      </p-checkbox>
      <label>Demências</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eDesmaios" [binary]="true" value="eDesmaios" formControlName="eDesmaios">
      </p-checkbox>
      <label>Desmaios</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eDormencia" [binary]="true" value="eDormencia" formControlName="eDormencia">
      </p-checkbox>
      <label>Dormência / Fraqueza</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eDvp" [binary]="true" value="eDvp" formControlName="eDvp">
      </p-checkbox>
      <label>DVP</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eLesaoMedular" [binary]="true" value="eLesaoMedular" formControlName="eLesaoMedular">
      </p-checkbox>
      <label>Lesão medular</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="eParestesias" [binary]="true" value="eParestesias" formControlName="eParestesias">
      </p-checkbox>
      <label>Parestesias</label>
    </div>
    <div class="field-checkbox">
      <p-checkbox name="ePic" [binary]="true" value="ePic" formControlName="ePic">
      </p-checkbox>
      <label>PIC</label>
    </div>
  </div>
</form>
