<form>
  <label>Flexão do pescoço / Toráx</label>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita"  label="Sim" value="1"></p-radioButton>
  </div>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita"  label="Não" value="1"></p-radioButton>
  </div>
  <label>Extensão do pescoço > 80º</label>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Sim" value="1"></p-radioButton>
  </div>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita"  label="Não" value="1"></p-radioButton>
  </div>
  <button pButton (click)="avancar()"></button>
</form>
