<form>
  <label>Tireomentoneana > 6,5 CM</label>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Sim" value="1"></p-radioButton>
    <p-radioButton name="usaDrogaIlicita" label="Sim" value="1"></p-radioButton>
  </div>
  <label>Mento esternal > 12,5 CM</label>
  <div class="field-checkbox">
    <p-radioButton name="usaDrogaIlicita" label="Sim" value="1"></p-radioButton>
    <p-radioButton name="usaDrogaIlicita" label="Sim" value="1"></p-radioButton>
  </div>
  <button pButton (click)="avancar()"></button>
</form>
