<form>
  <div class="formgroup-inline">
    <div class="field">
      <textarea placeholder="Cardiaco" pInputTextarea [rows]="8" [cols]="35"></textarea>
    </div>
    <div class="field">
      <textarea placeholder="Respiratório" pInputTextarea [rows]="8" [cols]="35"></textarea>
    </div>
    <div class="field">
      <textarea placeholder="Neurológico" pInputTextarea [rows]="8" [cols]="35"></textarea>
    </div>
    <div class="field">
      <textarea placeholder="Regional" pInputTextarea [rows]="8" [cols]="35"></textarea>
    </div>
    <div class="field">
      <textarea placeholder="Outros" pInputTextarea [rows]="8" [cols]="35"></textarea>
    </div>
  </div>
  <button pButton (click)="avancar()">Avançar</button>
</form>
